#content .contentArea .slogun{ text-align: center; font-size: 1.5em; line-height: 2em;margin: 50px 0 50px 0;}
#content .contentArea .slogun p:nth-child(1){font-size: 30px; font-weight: bold; margin-top: 20px;}
#content .contentArea .slogun p:nth-child(2){text-align: center; line-height: 2em; margin-top: 15px;}

#content .contentArea .seonHyun{margin-top: 200px;}
#content .contentArea img{display: block; width: 1200px; margin: 50px 0 100px 0;}
#content .contentArea h3{font-size: 2.5em; color: #4d1f7a; text-align: center; margin-bottom: 100px;}
#content .contentArea p{font-size: 20px; line-height: 2em; font-weight: 500; margin-bottom: 40px;}
#content .contentArea a{border: 1px solid #333;padding: 10px;position: relative;top: 12px; left: 498px;transition: all .5s;}
#content .contentArea a:hover{color: #4d1f7a;border: 1px solid #4d1f7a;transform: scale(1.1);}

#content .contentArea .active{margin: 100px 0 100px 0;}
#content .contentArea p span{display: block; color: #4d1f7a; font-weight: bold;}

#content .contentArea .info{margin-bottom: 200px;}
#content .contentArea .info .infoCon1{clear:both; overflow:hidden; margin-bottom:20px; padding-left: 330px;}

#contnet .contentArea .info .infoCon1 li .step span{display:block; font-size:14px; text-align:center; letter-spacing:-0.05em; font-weight:bold;}
#content .contentArea .info .infoCon1 li{display:inline-block; padding-right:25px; position:relative; float:left; margin-bottom:10px;}

#content .contentArea .info .infoCon1 li::after{display:block; width:70px; height:70px; margin:5px auto 0;}
#contnet .contentArea .info .infoCon1 li:last-child{padding-right:0px;}
#content .contentArea .info .infoCon1 li:last-child::after{display: none;}
#content .contentArea .info .infoCon1 li .step{display:block; width:110px; height:110px; border:1px solid #dbdbdb; text-align:center;}
#content .contentArea .info .infoCon1 li .step i{display: block; width: 70px; height: 70px; margin: 10px auto 0; color: #4d1f7a; font-size: 40px;}

#content .contentArea .info p{font-size: 1.2em; color: #4d1f7a;}
#content .contentArea .info .infoCon li {font-size: 1.2em; line-height: 2em; margin-bottom: 30px;}