a{text-decoration: none; color: inherit;}
h1{text-align: center;}
header h1 a {
    display: inline-block;
    height: 105px;
    background: url(../../../common/images/logo.jpg) 0 0 no-repeat;
    text-indent: -9999%;

    overflow: hidden;
}

body{background: #efefef;}
#content{
    position: relative;
    width: 90%;
    margin: 0 auto 100px;
    padding: 60px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 5%);
}
#content h2 {
    font-size: 1.55rem;
    text-align: center;
}
#content p {
    text-align: center;
    color: #888;
}
ul{list-style: none;}
#id_pw_input ul{padding: 0;}
#id_pw_input ul li input{width: 100%; line-height: 57px; font-size: 0.725rem; padding: 0 0 0 10px; box-sizing: border-box; 
                        border:1px  solid #ddd; outline: 0;}
#login_button button{position: relative; width: 100%; line-height: 60px; font-size: 1.24rem; color: #fff; background: #4d1f7a; text-align: center; margin: 20px 0 0; cursor: pointer;}
#join_button a{display: block; line-height: 50px; text-align: center; border: 1px solid #ddd; transition: all .3s;}
.findLink li{text-align: center;}
.findLink li:first-child{color: #888; margin: 10px  30px 20px 0; font-size: 0.556rem;}
.findLink li:last-child{margin: 0 20px 0 0; font-size: 0.756rem;}
.findLink li a{color: #333; transition: all .3s;}