#content .contentArea .slogun{text-align: center; font-size: 1.5em; line-height: 2em; margin: 50px 0 50px 0;}
#content .contentArea .slogun p:nth-child(1){font-size: 33px; font-weight: bold; margin-top: 20px; color: #4d1f7a;}
#content .contentArea .slogun p:nth-child(2){margin-top: 15px; margin-bottom: 200px;}
#content .contentArea h3{font-size: 40px; text-align: center; margin:  20px 0 0 50px;}


.product ul li:nth-child(1){animation-delay:0s;}
.product ul li:nth-child(2){animation-delay:.2s;}
.product ul li:nth-child(3){animation-delay:.4s;}
.product ul li:nth-child(4){animation-delay:.6s;}

.product{margin-bottom: 200px;}
.product ul{overflow: hidden;}
.product ul::after{content:''; display: block; clear: both;}
.product ul li{float:left; width: 520px; margin: 100px 0 0 80px;}
.product ul li a{position:relative; display: block; height: 400px; cursor:pointer; float: left;}
.product ul li .img{width:520px; height: 270px; overflow: hidden;}
.product ul li .img img{transform:scale(1);  transition: 1.2s;}
.product ul li:hover .img img{transform:scale(1.1);}

.product ul li p{font-size:1.4375rem; color:#333; letter-spacing:-0.025rem; padding:25px 0 0; transition:all .3s; transition-delay:.3s;}
.product ul li p span{display:block; font-size:1.125rem; color:#999; padding:0 0 5px; transition:all .3s; transition-delay:.3s;}
.product ul li a:hover p{background:#4d1f7a; padding:25px; color: #fff;}
.product ul li:hover p span{color:rgba(255,255,255,.5);}

.product ul li .more{position:absolute; right:0; top:330px; display:inline-block; height: 36px; line-height: 36px; padding-right:25px; color:#4d1f7a; letter-spacing:-0.045rem;}
.product ul li:hover .more{color:#fff; right:25px;}

.product ul li .square{position:absolute; left:0; top: 0; width: 100%; height: 270px; }
.product ul li .square span{position:absolute; display:block; width: 0; height: 0; background:#4d1f7a; transition:all .1s;}
.product ul li .square span:nth-child(1){left:0; top: 0; width: 0; height: 3px; transition-delay: .3s;}
.product ul li .square span:nth-child(2){right:0; top: 0; width: 3px; height: 0; transition-delay: .2s;}
.product ul li .square span:nth-child(3){right:0; bottom: 0; width: 0; height: 3px; transition-delay: .1s;}
.product ul li .square span:nth-child(4){left:0; bottom: 0; width: 3px; height: 0; transition-delay: 0s;}
    /* hover */
.product ul li:hover .square{}
.product ul li:hover .square span:nth-child(1){width:100%; transition-delay:0s;}
.product ul li:hover .square span:nth-child(2){height:100%; transition-delay:.1s;}
.product ul li:hover .square span:nth-child(3){width:100%; transition-delay:.2s;}
.product ul li:hover .square span:nth-child(4){height:100%; transition-delay:.3s;}

.product .modalBox{position: fixed; left: 0; top: 0; z-index: 50; width: 100%; height: 100%; 
    background: #000; opacity: .7; display: none;}
.product  .popup{position: fixed; top: 50%; left: 50%; margin: -300px 0 0 -300px; 
    width: 600px; height: 600px; background: #fff; box-shadow: 1px 3px 7px 0px #666;
    z-index: 60; display:none; border: 5px solid #4d1f7a; border-radius: 10%;}
.product  .popup img{ width: 80%; margin: 20px 10%;height: 300px; border-radius: 10%;}
.product  .popup dl{width: 94%; margin:10px 3%; text-align: center;}
.product  .popup dt{font-size: 1.2em; font-weight: bold; margin-bottom: 10px; color: orange;}
.product .popup dd{text-align: justify; margin-top: 5px; }

.product  .popup .close_btn{position: absolute; top: 25px; right: 5px; 
    display: block; text-indent: -999px; overflow: hidden; width: 32px; 
    height: 32px; padding: 9px 9px; background: url(../images/content1/cancel.png) no-repeat;}