.search_wrap{padding: 32px 0; border-radius: 4px; margin-bottom: 72px; margin-top: 40px; box-shadow: 0px 4px 13px 0px rgb(82 63 105 / 5%); border: 1px solid #f8f8f8;}
.search_form{overflow: hidden; position: relative; left: 50%; margin-left: -418px;}
.search_form>div{float: left;}
.search_wrap .search_cat{margin-right: 4px; width: 160px;}
.search_wrap .query{width: 420px;}
.search_wrap .query input{background: url()no-repeat 16px center; padding-left: 56px;}
.search_wrap .btn_wrap{margin-left: 8px;}
.search_wrap .btn_wrap .btn{padding: 3px 40px 40px;}
.row{margin-bottom: 24px;}
.row label{display: block; font-weight: 500; font-size: 1.125em; margin: 0 0 12px 4px;}
input, textarea, select{width: 100%; height: 56px; border: 1px solid #ececec; border-radius: 4px; background: rgba(255, 255, 255, .5); padding: 12px 16px 13px 16px; box-sizing: border-box; font-size: 1.125em; font-weight: 500;}
input:focus, select:focus, textarea:focus{outline-color: #4d1f7a;}
input::placeholder, textarea::placeholder, select::selection{color: #C1C1C1; font-weight: 300; font-family: 'Noto Sans KR', sans-serif; font-size: 16px;}
.disabled_input{background-color: #f8f8f8;}
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s;}
select {background:url(./images/arrow.png) no-repeat 90% 50%; -webkit-appearance: none;-moz-appearance: none;appearance : none;font-family: inherit; color: #333; font-size: 1em; font-weight: 400;}

#content{margin-bottom: 100px;}

.query input {
    padding-left: 56px;
}
.search_wrap .search_cat {
    margin-right: 4px;
    width: 160px;
}

.query{
    width: 420px;
}
.search_form>div {
    float: left;
}

.search_wrap .btn_wrap {
    margin-left: 8px;
}
.search_form>div {
    float: left;
}


/* 버튼 커스텀(btn_wrap, btn_double) */
.btn_wrap{overflow: hidden; text-align: center; }
.btn_wrap .btn{display: block; width: -webkit-fill-available; padding: 14px 64px 40px; border-radius: 4px; border: 1px solid #4d1f7a; box-sizing: border-box; cursor:pointer;
    font-family: 'Noto Sans KR', sans-serif; font-weight: 500; font-size: 1em; text-align: center; overflow: hidden; position: relative;}
.btn_wrap .btn::before{content: ''; display: block; width: 100%; height: 100%; border-radius: 100%; background:rgba(255,255,255,.15); position: absolute; left: 0; bottom: 0; transition: all .2s; transform: translate(0px, 160%) scale(1.2, 2);}
.btn_wrap div:hover .btn::before, .btn_wrap li:hover .btn::before{transform: translate(0,0%) scale(1.2,2);}
.btn_wrap .btn.btn_nomal{background: #fff; color: #4d1f7a;}
.btn_wrap .btn.btn_solid{background: #4d1f7a; color: #fff;}
.btn_double>div, .btn_double>li{float: left;}
.btn_double>div:first-child .btn, .btn_double>li:first-child .btn{margin-right: 4px;}
.right_btn{margin: 0 0 0 auto; width: fit-content;}
.center_btn{margin: 0 auto; width: fit-content;} 



.page_button{margin: 18px 0 120px;}
.page_num{text-align: center;}
.page_num i{color: #999; margin: 0 16px;}
.page_num b{display: inline-block; width: 40px; height: 40px; font-size: 1.125em; color: #fff; position: relative; margin: 0 4px;}
.page_num b::before{content: ''; display: block; width: 40px; height: 40px; background: #4d1f7a; border-radius: 5px; position: absolute; left: 50%; top: 50%; margin: -25px 0 0 -20px; z-index: -10;}
.page_button .btn_wrap .btn{padding: 14px 40px 15px;}

/* 버튼 */
.btn_wrap{text-align:right; margin:0 -2px}
.btn_wrap a,
.btn_wrap button{display: inline-block; height:44px; line-height:42px; margin:0 2px; vertical-align:top; padding:0 25px; background:transparent; color:#888; border:1px solid #ddd; box-sizing:border-box; cursor:pointer; transition:all .3s; font-size:1rem;}
.btn_wrap a:hover,
.btn_wrap button:hover{border-color:#333; color:#333;}
.btn_wrap .active{border-color:#4d1f7a; color:#4d1f7a}
.btn_wrap .active:hover{background:#4d1f7a; color:#fff;}



/* 게시물 개수 및 설정 */
.list_info{overflow: hidden;}
.list_info p{float: left; font-size: 1.125em; color: #666; position: relative; top: 50%; margin-top: 9px;}
.list_info p span{font-weight: 700; font-size: 1.25em; color: #4d1f7a;}
.list_info .list_size{width: 140px; float: right; font-size: 1em;}



.list_body{overflow: hidden; margin-top: 12px;}
.item_wrap{float: left; width: 383px; margin: 0 24px 24px 0; border: 2px solid #f8f8f8; box-shadow: 0px 4px 13px 0px rgb(82 63 105 / 3%); border-radius: 4px; box-sizing: border-box; transition: all .3s;}

 .item_wrap:nth-child(3n){margin-right: 0;}
 .item_wrap .list_item2{padding-left: 0; height: 300px; overflow: hidden; border-radius: 4px 4px 0 0; position: relative;}
.item_wrap .list_item2 img{position: absolute; vertical-align: middle; transition: all .3s; width: 100%;}
.item_wrap:hover .list_item2 img{transform: scale(1.1);}
.item_wrap .bottom_item{margin: 18px 24px 24px;}
.item_wrap .list_item3{font-weight: 700; font-size: 1.25em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.item_wrap .list_item4{height: 51.2px; color: #333; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; margin-top: 8px; margin-bottom: 20px;}
.bottom_item .bottom_sub{overflow: hidden; text-align: left; color: #666; font-family: 'Roboto', sans-serif;}
.bottom_item .bottom_sub div{float: left; font-size: 1em;}
.bottom_item .bottom_sub .list_item6::before, .bottom_item .bottom_sub .list_item6::after{content: ''; display: inline-block; width: 1px; height: 10px; background: #D1D6DB; margin: 0 12px; position: relative; top: 50%; margin-top: -2px;}
.bottom_item .bottom_sub .list_item8{float: right; color: #4d1f7a;}
.item_wrap .list_item2 img {
    position: absolute;
    vertical-align: middle;
    transition: all .3s;
}


 /******************************** view **********************************/
 .bbs_view_ttl{border-top:1px solid #999;}
 .bbs_view_ttl li{border-bottom:1px solid #ddd; padding:20px;}
 .bbs_view_ttl li:first-child{background:#f2f2f2; font-weight:700;}
 .bbs_view_ttl li span{display:inline-block; color:#888;}
 .bbs_view_ttl li span + span::before{content:'/'; display:inline-block; padding:0 10px; color:#ddd;}
 .bbs_view_ttl li span i{font-size:.75rem; padding-right:2px;}
 .bbs_view_ttl li span i i{font-size:0; text-indent:-9999%;}
 
 .bbs_view_cont{min-height:200px; padding:20px; overflow: hidden;}
 .bbs_view_cont img{max-width: 100%;}
 .bbs_view_cont::after{content:''; display: block; clear: both;}
 
 .bbs_view_cont + .btn_wrap{border-top:1px solid #ddd; padding:20px 0 0;}
 
 
 
 /******************************** write **********************************/
.bbs_write_top{border-top:1px solid #999;}
.bbs_write_top li{border-bottom:1px solid #ddd;}
.bbs_write_top li dl{background:#f2f2f2;}
.bbs_write_top li dl::after{content:''; display: block; clear: both;}
.bbs_write_top li dl dt,
.bbs_write_top li dl dd{padding:20px;}
.bbs_write_top li dl dt{float:left;}
.bbs_write_top li dl dt label{line-height:44px;}
.bbs_write_top li dl dd{margin-left:15%; background:#fff;}
.bbs_write_top #subject{width:100%; height: 40px;}
.bbs_write_top textarea{width: 100%; height: 300px;}
.bbs_write_top #content{width:100%;}
.bbs_write_top + .btn_wrap{padding:20px 0 0;}

/* checkbox */
.bbs_wrap .bbs_write_top .check{position:relative; padding-left:35px; line-height:25px; margin:0 0 10px;}
.bbs_wrap .bbs_write_top .check input[type=checkbox] + label::before {
    position:absolute; left:0; top: 0;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 2px solid #ccc;
    box-sizing:border-box;
    content: '';
}

.check_box{
width: 20px;
height: 15px;
}



/******************************** comment **********************************/
.comment_wrap{margin:30px 0 0;}

.comment_wrap .ripple_lst li{position:relative; padding:25px; border-top:1px dotted #ddd; transition:all .3s; overflow: hidden;}

 .comment_wrap .ripple_lst li:first-child{border-top:1px solid #ddd;}
 .comment_wrap .ripple_lst li:last-child{margin-bottom:30px;}
 .comment_wrap .ripple_lst li:hover{background:#f5f5f5;}

 .comment_wrap .ripple_lst li dl dt{color:#000;}
.comment_wrap .ripple_lst li dl dt small{display:inline-block; font-weight:normal; padding-left:10px; font-size:.85rem; color:#999;}
 .comment_wrap .ripple_lst li dl dd{margin:.75rem 0 0; color:#666;}
 .comment_wrap .ripple_lst li .func{position:absolute; right: 15px; top: 20px;}
 .comment_wrap .ripple_lst li .func a{display:inline-block; width:30px; height:30px; line-height:30px; text-align:center; color:#999; transition:all .3s;}
 .comment_wrap .ripple_lst li .func a:hover{color:#000;}
.comment_wrap .ripple_lst li .func i i{font-size:0; text-indent:-9999%;}
 .ripple_input{background:#f2f2f2; padding:10px; overflow:hidden; margin:0 0 30px;}
 .ripple_input li{float:left;}
 .ripple_input li:nth-child(1){width:calc(100% - 100px);}
 .ripple_input li:nth-child(2){width:100px;}
 .ripple_input li textarea{width:100%; height:100px; box-sizing:border-box; border-color:#ddd; resize:none;}
 .ripple_input li a{display:block; height:100px; line-height:98px; text-align:center; font-size:1rem; box-sizing:border-box; border-width:1px 1px 1px 0; border-style:solid; border-color:#ddd;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(245,245,245,1) 94%, rgba(255,255,255,1) 100%);
}
    /* modify */
 .ripple_input_modify{overflow:hidden; display: none;}
 .ripple_input_modify textarea{float:left; width:calc(100% - 80px); height:70px; box-sizing:border-box; resize:none;}
 .ripple_input_modify a{float:left; width:80px; height:70px; line-height:68px; background:#777; font-size:1rem; color:#fff; text-align:center; box-sizing:border-box;}
