.main{position:relative; width: 100%; background: #333;}


.main{position:relative; height:250px; background-image:url("../images/commoncontent.png"); background-position:50% 50%; background-repeat:no-repeat; background-size:cover;}
.main h3{position:absolute; left:50%; top:50%; font-size:1.6875rem; letter-spacing:-0.065rem; color:#fff; transform:translate(-50%, -40%);}


.subNav{margin: 0 20px; position: relative; top:220px;}
.subNav ul{overflow: hidden; width: 100%; box-shadow: 0 0 5px 0 rgb(0 0 0 / 5%); text-align: center;}
.subNav li{float: left;}
.subNav li a{display: block; font-size: 1.071rem; padding: 12px 0; background: #fff; border: 1px solid #f8f8f8; color: #666; transition: all .5s;}
.subNav li .current{background: #4d1f7a;; color: #fff; font-weight: 500; border: 1px solid #4d1f7a;}
.aboutkgMenu li{width: 33.33%;}

#content .titleArea{margin:3rem 0 2rem;}
#content .titleArea h2{text-align:center; font-size:1.875rem; font-weight:700; letter-spacing:-0.065rem;}



#content .contentArea{margin-bottom: 120px;}
#content .contentArea .content_topic{margin-top: 40px; text-align: center; margin-bottom: 80px;}
#content .contentArea .process{width: 100%; height: 150px; overflow: hidden;}
#content .contentArea .process li{float: left; width: 15%; height: 70px; text-align: center;  font-weight: 700; font-size: 1rem; margin-left: 4%;  border: 10px solid #4d1f7a; border-radius: 100%;}
#content .contentArea .process li:first-of-type{ color: #4d1f7a;}
#content .contentArea .process li:nth-of-type(2){color: #4d1f7a;}
#content .contentArea .process li:nth-of-type(3){color: #4d1f7a;}
#content .contentArea .process li:last-of-type{margin-right: 0; color: #4d1f7a;}
#content .contentArea .process li span{display: block; font-weight: 500; font-size: 0.833em; color: #333;  margin-top: 4px;}
#content .contentArea>h4{font-weight: 700; font-size: 1.5em; margin-bottom: 32px; color: #4d1f7a; ; margin-top: 20px;}
#content .contentArea li h4{margin-top: 10px;}
#content .contentArea .point{overflow: hidden;}
#content .contentArea  dl{float: left; width: 100%; height: 152px;  border: 1px solid #ececec; border-radius: 16px; padding: 40px 32px;}
#content .contentArea  dl:last-of-type{margin-right: 0;}
#content .contentArea  dl dt{font-size: 1.25em; font-weight: 500; margin-bottom: 16px; color: #333;}
#content .contentArea  dl dt span{display: block; color: #4d1f7a; font-size: 0.9em;}
#content .contentArea  dl dd{font-size: 1.125em; line-height: 1.5em; color: #666;  position: relative; margin: 0 50px 0 0;}
#content .contentArea  dl dd::before{content: ''; display: block; width: 4px; height: 4px; border-radius: 100%; position: absolute; left: -16px; top: 12px; background: #999;}

#content #calendar{margin: 30px 0 50px 0;}
#content h3{font-size: 2rem; font-weight: 700; margin: 100px 0 100px 0;  color: #4d1f7a; text-align: center;}
