@charset "utf-8";
/* 모바일 코딩 필수 공통영역 */
* {
 margin:0;
 padding:0;
 -webkit-text-size-adjust:none; }
body {
 color:#333;
 font-size:14px;
 font-family: 'Noto Sans KR', sans-serif; font-size: 18px;color: #333 }
img, fieldset { border:0; vertical-align:top }
ul, ol, li, dl { list-style:none; }
h1, h2, h3, h4, h5, h6 {
 font-size:100%;
 font-weight:normal; }
hr { display:none; }
a { color:inherit; }
a, a:link {
 color:#333;
 text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active {
 color:#333;
 text-decoration:none; }
em, i, address {
 font-style:normal;
 font-weight:normal; }
legend, caption {
 display:none;
 clear:both; }
input, textarea, select, button, table {
 font-size:inherit;
 font-family:inherit;
 line-height:inherit; }
section, nav, article, aside, hgroup, header, footer { display:block }
textarea, input {
 border-radius:1px;}
textarea { resize:none; }
label { cursor:pointer; }
.hidden,#skipNav{display: block; position: absolute; left:-1000%;top:0; width: 1px; height: 1px; overflow: hidden; color: #fff}


/* 전체 공통 */
#wrap{ width:100%; position: relative;  overflow:hidden;}

/* 헤더공통 */
#headerArea{position: fixed; top: 0; left: 0; width: 100%; height: 60px; z-index: 100; background: rgba(0, 0, 0, .5);}
#headerArea .headerTop h1>a{display: block; text-indent: -9999px; overflow: hidden; color: #fff; width: 80px; height: 34px; background: url("../images/logo.png")no-repeat center; background-size:cover; float: left; position: relative; left: 50%; margin-left: -40px; margin-top: 13px;}
@media screen and (min-width: 640px) {
    #headerArea .headerTop h1>a{background: url("../images/logox2.png")no-repeat center;
        background-size:cover;}
   }
#headerArea .menuOpen{display: block; float: right; height: 60px; position: relative; border-radius: 5px; z-index: 110; transition: all .5s;}
#headerArea .menuOpen span{width: 32px; height: 2px; background: #fff; position: relative; text-indent: -9999px; display: block; margin: 28.5px 20px; border-radius: 5px; transition: all .3s;}
.menuOpen span::before{content: ''; display: block; width: 32px; height: 2px; background: #fff; position: absolute; top: -9.5px; left: 0; border-radius: 5px; transition: all .3s;}
.menuOpen span::after{content: ''; display: block; width: 32px; height: 2px; background: #fff; position: absolute; top: 9.5px; left: 0; border-radius: 5px; transition: all .3s;}
#headerArea.sc{background: #fff; border-bottom: 1px solid #ececec;}
/*스크롤 시*/
#headerArea.sc .menuOpen span{background: #333;}
#headerArea.sc .menuOpen span::before{background: #333;}
#headerArea.sc .menuOpen span::after{background: #333;}
#headerArea.sc.mn_open .menuOpen span{background: rgba(0,0,0,0);}
#headerArea.sc.mn_open .menuOpen span::before{background: #fff;}
#headerArea.sc.mn_open .menuOpen span::after{background: #fff;}
/*메뉴 열렸을때*/
#headerArea.mn_open .menuOpen span, #headerArea .header_top .menuOpen span::before, #headerArea .headerTop .menuOpen span::after{background: #fff}
#headerArea.mn_open .menuOpen span{background: rgba(0,0,0,0);}
#headerArea.mn_open .menuOpen span::before{transform: rotate(45deg); top: 0;}
#headerArea.mn_open .menuOpen span::after{transform: rotate(-45deg); top: 0;}
#headerArea.mn_open .modalBox{width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,.8); z-index: 10; top: 0; display: none;}



/*gnb영역*/
#gnb{position: absolute; width: 80%; left:-100%; top:0; opacity: 0; background: #fff; z-index:20}
#gnb>h3>a{display: block; text-indent: -9999px; overflow: hidden; color: #fff; width: 80px; height: 34px; background: url("../images/logo.png")no-repeat center; background-size:cover; float: left; position: relative; left: 50%; margin-left: -40px; margin-top: 16px;}
@media screen and (min-width: 640px) {
    #gnb>h3>a{background: url("../images/logox2.png")no-repeat center;
        background-size:cover;}
   }
#gnb .login{overflow: hidden; clear: both;}   
#gnb .login li{display: block; width: 50%; float: left; font-weight:500; font-size: 1.286rem; padding: 20px 0; text-align: center; background: #f8f8f8; color: #666; margin-top: 16px; position: relative;}
#gnb .login li:first-of-type::before{content: ''; display: block; width: 1px; height: 24px; background: #ececec; position: absolute; left: 100%; top: 50%; margin-top: -12px; z-index: 10;;}
#gnb .mainMenu{margin: 32px 0 0 24px;}
#gnb .mainMenu>li a{display: block; height: 35px; font-weight: 700; font-size: 1.429rem; color: #333; margin-bottom: 20px;}
#gnb .mainMenu>li a span{font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 1.071rem; color: #999;}
#gnb .mainMenu>li a i{float: right; font-size: 1rem; margin-right: 24px; line-height: 2.5em;}
#gnb .mainMenu>li ul{display: none; margin-left: 14px;}
#gnb .mainMenu>li ul li a{display: block; font-weight: 400; font-size: 1.143rem; color: #666; margin-bottom: 4px;} 
#gnb .mainMenu>li ul li:last-of-type a{margin-bottom: 20px;}




 #footerArea{background:#e5e5e5; padding:1.71rem 4.5% 3.2rem; margin:4.28rem 0 0;}
 #footerArea::after{content:''; display: block; clear: both;}
 /* #footerArea .f_logo{float:left; width: 65px; margin:0 0 1.55rem;} */
 #footerArea .footerLogo{float:left; width: 65px; height:31px; background:url("../images/logox2.png") 0 0 no-repeat; background-size:100% auto; font-size:0; text-indent: -9999%; margin:0 0 1.55rem;}
 
 #footerArea .footerSns{float:right;}
 #footerArea .footerSns li{float:left; margin-left:8px;}
 #footerArea .footerSns li:first-child{margin-left:0;}
 #footerArea .footerSns li a{display:block; width: 30px; height: 30px; border-radius:500px; background-position:50% 50%; background-repeat:no-repeat; text-indent:-9999%; font-size:0;}
 #footerArea .footerSns li:nth-child(1) a{background-image:url("../images/footer_yicon.png"); background-size:100% auto;}
 #footerArea .footerSns li:nth-child(2) a{background-image:url("../images/footer_bicon.png"); background-size:100% auto;}
 #footerArea .footerSns li:nth-child(3) a{background-image:url("../images/footer_ficon.png"); background-size:100% auto;}
 #footerArea .footerLink{overflow:hidden; color:#666; font-size:0.875rem; letter-spacing:-0.025rem; clear:both;}
 #footerArea .footerLink li{float:left; margin-right:10px;}
 #footerArea .footerLink li:last-child{margin-right:0;}
 #footerArea .footerLink li a{display: block;}
 #footerArea .footerLink li:nth-child(2) a{color:#333;}
 #footerArea .info{color:#666; font-size:0.875rem; line-height: 1.8; letter-spacing:-0.045rem; margin:1rem 0 0;}
 #footerArea .info address span{display:inline-block; margin-right:10px;}
 #footerArea .info address span:last-child{margin-right:0;}
 #footerArea .info p{letter-spacing:0;}
 #footerArea .family{position:relative;}
 #footerArea .family .arrow{display:block; height: 50px; line-height: 50px; padding:0 1.25rem; color:#666;
    background-image:url("../images/arrow_select.png"); background-position:96% 50%; background-repeat:no-repeat; background-color:#cecece; background-size:16px auto; transition:all .3s;}
 #footerArea .family .arrow.on{color:#fff; background-image:url("../images/arrow_select_w.png"); background-color:#444;}
 #footerArea .family  i{margin-left: 250px;}
 #footerArea .family ul{position:absolute; left:0; bottom:50px; width: 100%; background:#f0f0f0; overflow: hidden; font-size:0.875rem; display: none;}
 #footerArea .family ul li{float:left; width:50%;}
 #footerArea .family ul li a{display: block; height: 40px; line-height: 40px; padding:0 1.25rem;}

 /* top move */
.topMove{position:fixed; right:0; bottom:0; z-index:50; display: none;}
.topMove a{display:block; width: 50px; height: 50px; background:url("../images/quicktop.png") 50% 50% no-repeat rgba(63, 38, 114, 1); background-size:16px auto; text-indent:-9999px; overflow: hidden;}
