#content .contentArea .slogun{ text-align: center; font-size: 1.5em; line-height: 2em;margin: 50px 0 50px 0;}
#content .contentArea .slogun p:nth-child(1){font-size: 30px; font-weight: bold; margin-top: 20px;}
#content .contentArea .slogun p:nth-child(2){text-align: center; line-height: 2em; margin-top: 15px;}
#content .contentArea ul{overflow: hidden;}
#content .chairMan ul li dl dt span{font-size: 25px; color: #4d1f7a; font-weight: bold; }
#content .chairMan ul li dl dt{font-size: 35px; margin-top: 30px;}
#content .chairMan ul li dl dd{line-height: 2em; padding-top: 50px; font-size: 18px;}
#content .chairMan ul li img:nth-of-type(1){float: right; margin-left:  50px; border-radius: 100%;}

#content .chairMan ul li:nth-of-type(2) img{float: left; margin: 120px 80px; border-radius: 0;  }
#content .chairMan ul li{float: right; }
#content .chairMan ul li dl{float: left; width: 620px;}
#content .chairMan{margin-top: 150px;}
#content .chairMan ul li:nth-last-of-type(1){margin-top: 150px;}
#content .chairMan div{ text-align: center; margin: 100px 0 200px 0;}
#content .chairMan div p{font-size: 40px; font-weight: bold;}
#content .chairMan div p img{margin-left: 80px;}